@import "./variables.css";

@define-mixin clearbtn {
  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: inherit;
  line-height: inherit;

  &:focus {
    outline: none;
  }
}

@define-mixin reset-pre-code {
  p {
    margin: 0;
    font-family: var(--ff_base);
  }

  pre {
    margin: 0;
    padding: 0;
    border: none;
    word-break: break-all;
    word-wrap: break-word;

    font-family: var(--ff_mono);
    font-size: 16px;
    font-weight: 400;
    line-height: var(--lh_base);
    color: inherit;

    code {
      font: inherit;
    }
  }
}
