@import "./variables.css";

@define-mixin clearbtn {
  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: inherit;
  line-height: inherit;

  &:focus {
    outline: none;
  }
}

@define-mixin text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
