@import '../variables.css';
.content {
  padding-bottom: 90px;

  &__nav {
    padding: 17px 0 29px;
    display: flex;
    justify-content: space-between;
  }

  &__nav-elem {
    color: var(--c_muted);
    text-decoration: none;
    font-size: 13px;

    &:hover {
      color: var(--c_brand);
      text-decoration: none;
    }
  }

  &__title {
    font-size: 24px;
    line-height: calc(28 / 20);
    font-weight: 400;
    color: var(--c_brand);
    margin: 0 0 1em;
  }

  &__text {
    font-size: var(--fz_base);
    line-height: var(--lh_base);
    margin: 0 0 1em;
  }
}



