@import '../variables.css';

.pagination {
  white-space: nowrap;

  color: var(--c_muted);
  font-size: var(--fz_base);
  line-height: var(--sz_h_pagination);

  &__current {
    display: inline-block;
    vertical-align: baseline;
    height: var(--sz_h_pagination);
    min-width: var(--sz_h_pagination);
    padding: 0 6px;
    margin-right: 2px;
    border-radius: 20px;
    text-align: center;
    background: #fff;
    color: var(--c_base);
  }
}
