@import "../../styles/common-blocks/btn.css";
@import "../../styles/common-blocks/pagination.css";
@import "../../styles/variables.css";

.question-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e9edf4;
  padding: 24px 0;

  &__pagination {
    text-align: right;
    margin-top: calc((var(--sz_h_footer) - var(--sz_h_pagination))/2);
  }
}


